body {
  background-color: beige;
}

.inputForm {
  display: block;
  width: 100%;
  text-align: center;
}

.inputForm input {
  margin: 0 auto;
  width: 53%;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid lightslategrey;
  padding: 0 10px;
  outline: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.country_wrapper {
  padding-right: 30px;
}

.country_capital {
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px 0;
}

.country_population {
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px 0;
}

.country_capital--text {
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px 0;
}

.country_population--text {
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px 0;
}

.country_list {
  font-weight: 600;
  margin: 0;
}

.country_list--item {
  font-weight: 400;
  margin: 0;
}

.country_flag {
  height: auto;
  width: 640px;
}
