html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 500px;
  height: 300px;
}

.image_item {
  list-style: none;
}

#gallery {
  display: flex;
  margin: 0;
  padding: 0;
}

#counter {
  margin-top: 20px;
  margin-bottom: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
